<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
<style>
	th,td{
		width: auto;
		height: 10px;
	}
	tr{
		height: 10px;
	}
</style>
</head>
<body>
	 -->
{% extends "temp.html" %}
{% block name %}Channel Lists{% endblock %}
{% block username %} <b> {{username}}</b>{% endblock %}
{% block content %}
	<table border="2" style="width: 100%;height: 10px;">
		<tr style="height: 10px">
			<th>Channel Id</th>
			<th>Creator Name</th>
			<th>Channel Name</th>
			<th>Comments Number</th>
			<th>Function</th>
		</tr>
		{% for i in lis %}
			<tr>
				<td>{{i.id}}</td>
				<td>{{i.creator}}</td>
				<td>{{i.name}}</td>
				<td>{{i.len}}</td>
				<td> <a href="./message/{{i.id}}">Enter</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
<!-- <div style="margin: 10% 15%;border: black solid 1px;height: 300px;">
	
</div>
</body>
</html> -->